
@font-face {
  font-family: Inter;
  src: url("Inter-SemiBold.otf");
  src: url("Inter-SemiBold.ttf");

}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



a:link{
  color: black;
  text-decoration: none;

}

a:visited {
 text-decoration: none;
 color: black;
}

* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


*::-webkit-scrollbar {
  display: none;
}
.websiteContainer {
  position: relative;
  padding-top: 0vh;
  margin: 20px;
  text-align: left;
  border-color: green;
}

.header{
font-size: 18px;
}

#name{
  position: absolute;
  padding-bottom: 12px;
  font-size: 18px;
}

.bio{
  position: relative;
  padding-top: 300px;
  font-size: 26px;
  max-width: 790px;
  min-width: 270px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  border-color: red;
  }

.button{
  border-radius: 70px;
  border-width: 1px;
  border-color: black;
  padding: 2.5px;
  font-size: 18px;
  align: center;
  background-color: white;
}

.button:hover{
  background-color: black;
  color: white;
}

#contact{
width: 100px;
float: right;
margin-left: 50vw;
display: inline-block;
border-style: solid;
width: 90px;
text-align: center;
font-size: 18px;
}

#contact:hover{
  background-color: black;
  color: white;
}

#myWork{
  display: inline-block;
  border-style: solid;
  width: 110px;
  text-align: center;
  font-size: 18px;
}

#more{
width: 80px;
display: inline;
}

#hidden{
  padding-top: 4px;
  width: 100%;
  margin-left: -14px;
  overflow: hidden;
 color: white;
  transition: opacity .6s ease-out, margin-left .6s ease-out;
}

.myGallery{
  padding-top: 12px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.myGallery img{
  background-color: #d3d3d3;
  width: 100%;
}

.myGallery video{
  width:80%;
  background-color: #d3d3d3;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 24%;
  padding-bottom: 28%;
  margin-bottom: 6px;
}

.item{
  width: 100%
  background-color: #d3d3d3;
  position: relative;
  top: 0;
  left: 0;
}
.caption{
  position: relative;
}
.category{
  color: grey;
}
.leftCaption{
  float: left;
}
.rightCaption{
  right: 0;
  position: absolute;
}
.title:hover{
text-decoration: underline;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}
.square{
  position: relative;
  top: 0;
  left: 0;
}
.craftili{
  object-fit: contain;
  display: block;
  position: absolute;
  width: 400px;
  top: 80px;
  left: 3vw;
}

.footer {
  padding-top: 18px;
  margin-left: 0px;
  position: relative;
  color: black;
  font-size: 16px;
  bottom: 0px;
  width: 95%;
}

.contact{
  padding-top: 32px;
  padding-bottom: 20px;
  float: left;
  position: relative;
  width: 100%;
}



#Resume:hover{
  text-decoration: underline;
}
#LinkedIn:hover{
  text-decoration: underline;
}

/*overlay code*/


.overlay {
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -2000px;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.8s;
  overflow: auto;
}

.overlayHeader{
  position: relative;
  margin-top: 12px;
  padding-top: 8px;
  width: 97vw;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid;
  border-width: 1px;
}

.overlayNav{
  background-color: white;
font-size: 18px;
border-style: none;
margin-right: 8px;
font-size: 14px;
}

.overlayNav:hover{
  text-decoration: underline;
}

.overlay .closebtn {
  position: sticky;
  margin-left:auto;
  margin-right:0;
  color: black;
  font-size: 14px;
  text-align: right;

}

.closebtn:hover{
text-decoration: underline;
}

.overlay-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  color: black;
  position: relative;
  top: 25px;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}


.craftiliImg, .stcImg, .learnidyImg{
  position: absolute;
  object-fit: contain;
  width: 100%;
  background-color: white;
  top: 50px;
}


#final{
  display: block;
}
#prototype{
  display: none;

}


#link{
  position: absolute;
  top:0px;
  color: black;
  font-size: 14px;
  padding: 0px;
}

#link:hover{
  text-decoration: underline;
}
.wrap{
  padding-top: 320px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 50%;
  max-width: 600px;
  right: 50px;
}
.overview{
 width: 30%;
 height: 88vh;
 border-color: red;
 padding-right: 150px;
 overflow: visible;
}

.hidden_overview{
  display: none;
}
.process{
 flex: 1;
 width: 40%;
 border-color: blue;
 margin-right: 12px;
 margin-left: 12px;

}

.overlay a {
  padding: 12px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

@media screen and (max-width: 400px) {
  .myGallery{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }
}
@media screen and (max-width: 600px) {

  .bio{
    font-size: 24px;
    }

    .static {
      display: none;
    }
    .overlay{
      width: 91vw;
      overflow-x: hidden;

    }

    .overlay-content {
      display: flex;
      justify-content: center;
      padding-bottom: 12px;
      color: black;
      position: relative;
      top: 25px;
      width: 100%;
      text-align: left;
      margin-right: 12px;
      margin-bottom: 0;
    }

    .wrap{
      padding: 0px;
      height: 10px;
      position: absolute;
      top: 0;
      display: block;
      text-align: right;
      width: 100%;
      max-width: 600px;
      right: 0px;
    }

    .craftiliImg, .stcImg, .learnidyImg{
      position: relative;
      object-fit: contain;
      width: 100%;
      height: 200px;
      background-color: white;
      top: 50px;
    }

    .overview{
    display: none;
    }

    .hidden_overview {
      clear: both;
      width: 100%;
      padding-top: 56px;
      padding-bottom: 24px;
      position: relative;
      display: block;
      text-align: left;
    }



}
